html,
body {
  margin: 0;
  padding: 0;
  /* background: white; */
  /* color: #444; */
  color: #6e6e6e;
  font-family: Apercu, "Source Sans Pro", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 2em;
}
::-webkit-scrollbar-thumb {
  background-color: purple;
  height: 50%;
}

::-webkit-scrollbar-track {
  background: white;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

link[href*="icon"] {
  border: 1px solid black;
}
